.title {
  font-weight: 600;
  font-style: 20px;
  text-align: center;
  padding: 12px;
  border: 2px solid;
}
.red {
  border-color: red;
}
.green {
  border-color: green;
}

.icon {
  font-size: 40px;
  color: green;
}
